@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <h2>Shop Management System</h2>
    <p>Manage your bussiness online like Reatail shop, super market, shoping mall. </p>
    

    <!-- Left-aligned media object -->
    <div class="media">
        <div class="media-left">
            <img src="~/Image/Minimise-Costs-Maximise-Sales-Profits-Benefits-of-Inventory-Management.png" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
            
            <p>Keep Shoping</p>
        </div>
    </div>
    <hr>

</div>
