@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vedang Consultancy Service<br />
    Emaar Green Digital , 16th floor , Tower-B , Golf Course Extension Road, Gurgaon.<br />
    <abbr title="Mobile">Mobile No:</abbr>
    9911858753
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:minku.kumar@vedang.net">minku.kumar@vedang.net</a><br />
   
</address>