@{
    ViewBag.Title = "Home Page";
}

    <div>
        <img src="~/Image/Achieve-Productivity-Benefits-of-IMS.png" class="img-responsive col-md-12 glyphicon-resize-horizontal " alt="Cinque Terre">
    </div>
    <div class="glyphicon-arrow-up"></div>
    <div class="jumbotron">
        <h2>Shop Management System</h2>
        <p class="lead">Keep your Customers Happy!</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Start Your Bussiness</h2>
            <p>
                Start your bussiness by own mind to get success in world market !
            </p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="jumbotron">
            <h2>Purchase Orders</h2>
            <p>Purchase oreders from your own place , no need to go to market and search all over the shop for better product, we providing here better product for you !</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Invoice System</h2>
            <p>Get your invoice after purchase of your product and you can easly compare to other market value. Keep Purchasing !</p>
            <p><a class="btn btn-default">Learn more &raquo;</a></p>
        </div>
    </div>
</div>